<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Title and logo for tab -->
    <title>Titre tab</title>
    <link rel="shortcut icon" href="http://www.w3schools.com/bootstrap/bs.png">

<!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/navbarbase.css" rel="stylesheet">
</head>
<body>
<!-- Navbar top -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="http://3.bp.blogspot.com/-_OfUzB5cZYc/VfsuVYmDcSI/AAAAAAAAD2Q/7cPrm2_UUbg/s1600/bootstrap2_logo.png">
            </a>
        </div>

<!-- content of navbar -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Title of dropdown menu <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                    </ul>
                </li>
                <li><a href="#" >Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<footer>
<div class="navbar navbar-defaut navbar-fixed-bottom" id="footerbar">
    <div class="container-fluid">
        <p class="navbar-text pull-left"><b>Designed by</b> <a href="https://www.facebook.com/guitou865099" id="linkfooter">Guillaume FLOCH</a></p>
        <a href="#" class="navbar-button btn-danger btn pull-right" id="buttonfooter"></a>
        <a href="#"  class="navbar-button btn-danger btn pull-right" id="buttonfooter"></a>
    </div>
</div>
</footer>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>