 #video{
     border: solid 2px black;
 }
 #masque{
     height: 100%;
     width: 100%;
     margin: auto;
     padding: auto;
     z-index: 42;
     position: absolute;
     top: 50%;
     left: 35%;
 }
 #masque img{
     height: 50%;
     width: auto;
 }