/* navbar general */
.navbar-default {
    background-color: #078eff;
    border-bottom: solid black 3px;
}
/* navbar brand */
.navbar-default .navbar-brand {
    line-height: 50px;
    padding: 5px 0;
}

/* caret */
.navbar-default > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default > .dropdown > a:hover .caret,
.navbar-default > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
  }
.navbar-default > .open > a .caret,
.navbar-default > .open > a:hover .caret,
.navbar-default > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* mobile version */

.navbar-default .navbar-toggle {
    border-color: #553c7a;
    background-color: #f5ffef;
}
/*focus and hover span*/
.navbar-default .navbar-toggle:focus{
    background-color: white;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #078eff;
}
.navbar-default .navbar-toggle:hover {
    border-color: black;
    background-color: white;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: orange;
}
/* small size screen parameter dropdown */
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #078eff;
        background-color: white;
    }
}
/*color fo menu hover*/
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #078eff;
    background-color: white;
}
/*color of title dropdown menu in smallscr*/
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #078eff;
    background-color: white;
}
/* color text in navbar*/
.navbar-default .navbar-nav > li > a {
    color: white;
}
/* background dropdown */
.dropdown-menu {
    background-color: #078eff;
}
/*color in dropdown menu largescr*/
.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    color: #078eff;
    background-color: white;
}
/* size parameter for brand*/
.navbar-brand img{
    height: 40px;
    width: auto;
    margin-left: 15px;
}

/* parameter for footer-bar*/
#footerbar{
    background-color: #078eff;
    border-top: solid 3px black;
    color: white;
}
a:focus, a:hover {
    color: orange;
    text-decoration: underline;
}
a{
    color: #5b5b5b;
}
#buttonfooter{
    margin-top: 7px;
    margin-right: 7px;
    height: 35px;
    width: 35px;
}
